REDIS_URL=

SERVER_PORT=
CLIENT_CORS_ORIGIN_URL=

ETHEREAL_USERNAME=
ETHEREAL_PASSWORD=
ETHEREAL_NAME=
ETHEREAL_PORT=

DATABASE_URL=
POSTGRES_PASSWORD=
POSTGRES_USER=
POSTGRES_DB=

WORKER_CONCURRENCY=
MIN_DELAY_MS=
MAX_EMAILS_PER_HOUR=
# MAX_EMAILS_PER_HOUR_PER_SENDER=
